/* GLOBAL COLORS*/
:root {
    --primary_blue: #3A53A4;
    --primary_white: #FFFFFF;
    --secondary_black: #17161A;
    --secondary_semi_black: #1b1a1e99;
    --teriary_gray: #ECECEC
}

/* GLOBAL FONT SIZES*/
root {
    --font_size_small: 0.75rem;
    --font_size_medium: 1rem;
    --font_size_large: 1.25rem;
    --font_size_xlarge: 1.5rem;
    --font_size_xxlarge: 2rem;
}

/* GLOBAL FONT WEIGHT*/

/*NAVIGATION*/
.navnav {
    background-color: var(--primary_blue);
}

nav {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    padding: 0 1rem;
    font-weight: 500;
    transition: 100ms;
    font-family: "poppins", sans-serif;
    color: #FFFFFF;
}

.link:hover {
    cursor: pointer;
    transform: translate3d(0, -10px, 0);
}

.link-contacts {
    padding: 0.3rem 1.3rem;
    margin-left: 1.5rem;
    font-weight: 500;
    background-color: var(--primary_blue);
    border: 3px solid var(--primary_white);
    color: var(--primary_white);
    border-radius: 50px;
    font-family: "poppins", sans-serif;
    font-size: 1rem;
    transition: 100ms ease-in-out;
}

.link-contacts:hover {
    cursor: pointer;
    background-color: var(--primary_white);
    border: 3px solid var(--primary_white);
    color: var(--primary_blue);
}

.link-menu {
    display: none;
}

.link-menu:hover {
    cursor: pointer;
}

.closing-header-navigation-logo {
    display: none;
}

/* SIDE MOBILE NAVIGATION */
.closing-header-menu {
    margin-left: 2rem;
}

.closing-header-link {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
    transition: 100ms;
    font-family: "poppins", sans-serif;
}

.closing-header-link:hover {
    cursor: pointer;
    color: var(--primary_blue);
    transform: scale(1.1);
    margin-left: 1rem;
}

.closing-footer-details {
    margin-left: 2rem;
    margin-top: 5rem;
}

.closing-footer-details p {
    /* margin: 0.8rem 0; */
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--secondary_semi_black);
    font-family: "poppins", sans-serif;
}

.closing-footer-details-socials {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
}

.closing-header-socials {
    margin-right: 1rem;
    transition: 100ms;
}

.closing-header-socials:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/* WELCOME COMPONENT */
.welcome-component {
    background-image: url("../public/logo/xx.jpg");
    filter: brightness(0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-labels {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-labels .welcome-labels-one {
    color: var(--primary_blue);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    font-family: "poppins", sans-serif;
    text-shadow: var(--primary_white) 6px 6px 10px;
}

.welcome-labels .welcome-labels-two {
    color: var(--primary_white);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: "poppins", sans-serif;
}

/* ATENEO SPOTLIGHT */
.ateneo-spotlight {
    min-height: 500px;
    background-color: var(--primary_blue);
    padding: 2.5rem 0;
    color: var(--primary_white);
}

.ateneo-spotlight-item-image {
    transition: 100ms ease-in-out;
    margin: 0 auto;
    max-width: 300px;
}

.ateneo-spotlight-item-image:hover {
    cursor: pointer;
    transform: translate3d(0, -20px, 0);
}

.ateneo-spotlight-title {
    font-family: "poppins", sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.ateneo-spotlight-item-title {
    font-family: "poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.5rem 0;
    text-align: center;
}

.button-more-spotlight {
    border: 3px solid var(--primary_white);
    padding: 0.5rem 1.4rem;
    border-radius: 50px;
    font-family: "poppins", sans-serif;
    transition: 100ms ease-in-out;
}

.button-more-spotlight:hover {
    border: 3px solid var(--primary_white);
    background-color: var(--primary_white);
    padding: 0.5rem 1.4rem;
    border-radius: 50px;
    transition: 100ms ease-in-out;
    color: var(--secondary_black);
}

/* ATENEO NEWS */
.ateneo-news {
    padding: 2.5rem 0;
    min-height: 500px;
    background-color: var(--primary_white);
}

.ateneo-news-title {
    color: var(--primary_blue);
    font-family: "poppins", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.8rem;
}

.ateneo-news-body {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.ateneo-news-body-child {
    background-color: var(--teriary_gray);
    border-radius: 16px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 100ms ease-in-out;
    box-shadow: 2px 2px 5px rgb(223, 223, 223);
}

.ateneo-news-body-child:hover {
    cursor: pointer;
    transform: translate3d(0, -30px, 0);
}

.ateneo-news-body .ateneo-news-body-child:nth-child(even) {
    transform: translate3d(0, -30px, 0);
}

.ateneo-news-body .ateneo-news-body-child:nth-child(even):hover {
    transform: translate3d(0, -40px, 0);
}

.news-logo {
    background-color: var(--primary_blue);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ateneo-news-body-child h4 {
    font-family: 'poppins', sans-serif;
}

.ateneo-news-body-child p {
    text-align: center;
    font-family: 'poppins', sans-serif;
}

/* FOOTER */
.footer {
    background-color: var(--secondary_black);
    color: #FFFFFF;
    font-family: 'poppins', sans-serif;
}

.footer-year {
    font-family: 'poppins', sans-serif;
}

.footer-headers {
    font-family: 'poppins', sans-serif;
}

/* EACH COMPONENT*/
.each-right-header,
.each-right-time,
.each-right-description,
.notFound,
.contact-title,
.contact-header-form,
.back,
.ee {
    font-family: 'poppins', sans-serif;
}

.cons {
    background-image: url("../public/images/xxxx.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500;
}

/*MEDIA QUERY*/
@media (max-width: 1027px) {

    /* NAVIGATION */
    nav {
        padding: 0 2rem;
        height: 5rem;
    }

    .link {
        display: none;
    }

    .link-contacts,
    .link-menu {
        display: block;
        display: flex;
        align-items: center;

    }

    .link-contacts {
        margin-right: 1.5rem;
    }

    /* SIDE MOBILE NAVIGATION */
    .side-mobile-navigation {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.39);
        z-index: 1;
    }

    .container-side-mobile-navigation {
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        margin: auto 0;
        background-color: var(--primary_white);
    }

    .closing-header-side-mobile {
        justify-content: flex-end;
    }

    /* WELCOME COMPONENT */
    .welcome-component {
        height: 400px;
    }

    .welcome-labels .welcome-labels-one {
        font-size: 2.5rem;
    }

    .welcome-labels .welcome-labels-two {

        font-size: 1.7rem;
    }

    /* ATENEO SPOTLIGHT */
    .ateneo-spotlight-main-container {
        padding: 0 2rem;
    }

    .ateneo-spotlight-title {
        font-size: 1.8rem;
    }

    .ateneo-spotlight-item-title {
        font-size: 1rem;
        font-weight: 500;
    }

    /* ATENEO NEWS */
    .ateneo-news {
        padding: 2.5rem 2rem;
    }

    .ateneo-news-title {
        font-size: 1.8rem;
    }


}

@media (max-width: 620px) {

    /* NAVIGATION */
    nav {
        padding: 0 1rem;
        height: 4rem;
    }

    .link-contacts {
        display: none;
    }

    .link-menu,
    .closing-header-navigation-logo {
        display: block;
        display: flex;
        align-items: center;
    }

    .navigation-logo:hover {
        cursor: pointer;
    }

    /* SIDE MOBILE NAVIGATION */
    .side-mobile-navigation {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.39);
        z-index: 1;
    }

    .container-side-mobile-navigation {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        margin: auto 0;
        background-color: var(--primary_white);
    }

    .closing-header-side-mobile {
        justify-content: space-between;
    }

    /* WELCOME COMPONENT */
    .welcome-component {
        height: 300px;
    }

    .welcome-labels .welcome-labels-one {
        font-size: 1.7rem;
    }

    .welcome-labels .welcome-labels-two {

        font-size: 1.2rem;
    }

    /* ATENEO SPOTLIGHT */
    .ateneo-spotlight-main-container {
        padding: 0 1rem;
    }

    .ateneo-spotlight-title {
        font-size: 1.4rem;
    }

    .ateneo-spotlight-item-title {
        font-size: 0.8rem;
        font-weight: 500;
    }

    /* ATENEO NEWS */
    .ateneo-news {
        padding: 2.5rem 1rem;
    }

    .ateneo-news-title {
        font-size: 1.4rem;
    }
}

/*THIS IS THE SMALLEST SIZE FOR LITERAL PHONE*/
@media (max-width: 480px) {
    .ateneo-news-body .ateneo-news-body-child:nth-child(even) {
        transform: translate3d(0, 0px, 0);
    }
}


/* ADDMISSION */

.kaka {
    height: 100px;
    width: "100%";
    background-color: rebeccapurple;
    background-image: url("../public/logo/xx.jpg");
    filter: brightness(0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin: 0 5px
}